/* GLOBAL */

.form {
  box-sizing: border-box;
  position: absolute;
  width: 288px;
  height: 419px;
  left: 50px;
  top: 292px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}