/* GLOBAL */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  form{
    div{
      padding: 15px;
      display: flex;
      flex-direction: column;
      label{
        color: #FD2D01;
        font-weight: 700;
        margin-bottom: 4px;
      }
      input{
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #9E9E9E;
      }
    }
  }
  &__button{
    background: #FD2D01;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    a{
      text-decoration: none;
      color: #FFFFFF;
      font-weight: 700;
    }
  }
}